name: tests
on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: xdebug
          extensions: sqlite3
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
      - name: Install Node Dependencies
        run: npm ci
      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader
      - name: Setup Database Directory
        run: |
          mkdir -p database
          touch database/database.sqlite
          chmod -R 775 database
      - name: Copy Environment File
        run: cp .env.example .env
      - name: Generate Application Key
        run: php artisan key:generate
      - name: Create Testing Environment File
        run: |
          cp .env.example .env.testing
          echo "DB_CONNECTION=sqlite" >> .env.testing
          echo "DB_DATABASE=:memory:" >> .env.testing
      - name: Generate Testing Application Key
        run: php artisan key:generate --env=testing
      - name: Build Assets
        run: npm run build
      - name: Run Migrations
        run: php artisan migrate --env=testing --force
      - name: Tests
        run: ./vendor/bin/phpunit
